*{
    padding:0px;
    margin: 0px;
    font-family:"Inter", sans-serif;
 }
 header{
    background-color: rgb(245, 247, 248);
 }
 
 nav{
    display: flex;
    justify-content: space-between;
    max-width:1100px;
     margin:auto;
     padding:10px 20px;
     align-items: center;
     cursor: pointer;
 }
 nav ul{
    display: flex;
    padding: 12PX 0px;
    font-size: 15px;
 }
  nav ul li a{
   color: rgb(118, 114, 114);
  
}
 
 .logo{
    display:flex;
    align-items: center;
    font-size: 15px;
   width: 50px;
 }

 .tab{
     gap: 20px;
    align-items: center;
    list-style:none;
    text-align:left;
  }
 ul li a{
  text-decoration: none;
 
 
 }
 .button-style{
  background: #2606dc;
  border-radius: 5px;
  border:0px;
  color: aliceblue;
  padding: 4px 16px;
 }
.hero{
    background-image:url("../banner.jpg");
    
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sec-text{
   max-width: 1100px;
   padding-top:100px;
    margin:0 200px;
    justify-content: center;
    color: azure;
    text-align: center;
    align-items: center;
}
h1{
    font-size: 80px;
}
p{
    font-size: 22px;

}
.second{
    margin-top: 150px;
   border: 2px;
   border-width:500px;
  
}
.gallery{
    text-align: center;
    align-items: center;
    margin:100px 100px;
    
}
.sec-2{
    text-align: center;
    font-size: 64px;
    font-weight: bold;
}
.gallery-div{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-right: 100px;
}
.div-size{
  width:800px
 
    border: 1px solid black;
}
.developer{
    font-size: 12px;
    color: blue;
    font-weight:bold;
}
.name{
    font-size: 20px;
    font-weight:bold;
}
.designation{
font-size: 14px;
font-weight: bold;
color: rgb(108, 104, 104);
}
.developer, .name ,.designation{
    text-align: left;
}