*{
    padding:0px;
    margin: 0px;
    font-family:"Inter", sans-serif;
 }
 header{
    background-color: rgb(245, 247, 248);
 }
 nav{
    display: flex;
    justify-content: space-between;
    max-width:1100px;
     margin:auto;
     padding:10px 20px;
     align-items: center;
     cursor: pointer;
 }
.tab{
    align-items: center;
    list-style: none;
    margin: 0 auto; 
}
  ul li a{
    color: rgb(118, 114, 114);
    text-decoration: none;

 }
 nav ul{
    display: flex;
    padding: 12PX 0px;
    font-size: 15px;
    gap: 20px;
 }
 .button-style{
  background: #2606dc;
  border-radius: 5px;
  border:none;
  color: aliceblue;
  padding: 4px 16px;
  width: 200px;
   cursor: pointer;
   height: 40px;
   transition: 0.3s;
 }
 
 .hero{
    background-image:url("../banner.jpg");
    
    min-height: 100vh;
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
    height: auto;
}
.sec-text{
   max-width: 1100px;
   padding-top:100px;
   margin: auto;
    color: azure;
    text-align: center;
}
h1{
    font-size: 80px;
}
p{
    font-size: 22px;

}
.second{
    margin-bottom:50px;
}
.gallery{
  max-width: 1100px;
     margin:50px auto;
    padding: 0 20px;  
    
    
}
.gallery-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition: 0.3s;
}
.sec-2{
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}
.div-size{

box-shadow:0 5px 15px rgba(0,0,0,.15);
  border: 1px solid rgb(203, 200, 200);
  border-radius: 10px;
  display: grid;
 
}
.div-size img{
    width:100%;
    display:block;
   border-radius: 10px;
}
.developer{
    font-size: 12px;
    color: blue;
    font-weight:bold;
}
.name{
    font-size: 20px;
    font-weight:bold;
}
.designation{
font-size: 14px;
font-weight: bold;
color: rgb(108, 104, 104);
}
.developer, .name ,.designation{
    text-align: left;
     padding-left: 10px;
     margin-top: 10px;
}
.headline{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.explain{
    font-size: 16px;
     text-align: center;
     color: rgb(87, 86, 86);
    
}
.sec-3-div{
    display:flex;
    justify-content: center;
    padding:20px 20px;
    gap:30px;
     width: 100%;
  
     
}
.div-box1{
border: 1px solid rgb(163, 161, 161);
 box-shadow:0 5px 15px rgba(0,0,0,.15);-
background-color: #E5E7EB;
border-radius: 5px;
transition: 0.3s;
}
.div-box1:hover{
    transform:translate(-10px);
}
.font{
    font-size:13px;
    padding: 5px 20px;
}
.font-number{
    font-size: 44px;
    font-weight: bold;
    padding: 5px 20px;
}
.font-text{
    font-size: 12px;
    gap: 5px;
padding:30px;
}
.div-box1-color{
    background-color: #0D1B2A;
    color: white;
}
.button-align{
display: block;
margin: 20px auto;
width: 180px;
height: 40px;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}
.button-style:hover{
transform: translateY(-10px);
}
.button-align:hover{
    background-color:green ;
}
.border-1{
    border-color: #2606dc;
    color: #2606dc;
}
.sponsors{
    max-width:1100px;
    margin:100px auto;
    padding:0 20px;
}

.section-title{
    font-size:48px;
    text-align:center;
    font-weight:700;
}

.section-description{
    text-align:center;
    color:#666;
    margin-top:15px;
    margin-bottom:50px;
    font-size:18px;
}

.sponsor-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.sponsor-card{
    border:1px solid #ddd;
    border-radius:12px;
    padding:30px;
    text-align:center;
    transition:0.3s;
}

.sponsor-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.sponsor-card img{
    width:90px;
    margin-bottom:20px;
}

.sponsor-card h3{
    margin-bottom:10px;
}

.sponsor-card p{
    color:gray;
}
footer{
    background:#94a4dc;
    color:white;
    padding:40px 100px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.footer-logo img{
    width:150px;
}

.social-links{
    display:flex;
    gap:25px;
}

.social-links a{
    color:#ff7a00;
    font-size:28px;
    transition:0.3s;
}

.social-links a:hover{
    color:white;
    transform:translateY(-4px);
}

hr{
    border:none;
    border-top:1px solid rgba(11, 9, 9, 0.2);
}

.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
}

.footer-bottom p{
    color:#0c0c0c;
}

.footer-menu{
    display:flex;
    gap:30px;
}

.footer-menu a{
    text-decoration:none;
    color:#03038a;
    transition:0.3s;
}

.footer-menu a:hover{
    color:rgb(116, 127, 226);
}

